<ion-header style="position: sticky; top: 0;">
  <ion-item lines="full" color="dark" >
    <ion-list-header color="dark"> Select time</ion-list-header>
  </ion-item>
</ion-header>


<ion-list no-padding>
  <ion-item button lines="full" *ngFor="let time of times" (click)="setTime(time)">
    <ion-label>
      {{ time }}
    </ion-label>
  </ion-item>
</ion-list>