<ion-item  *ngIf="!((platform.is('ios')) || (platform.is('ios'))) ">
    <ion-label position="stacked">{{ label }}<ion-text color="danger"> *</ion-text></ion-label>
    <ion-input
      #input
      [value]="pageoutput"
      [readonly]="!includeTime"
      [placeholder]=""placeholder
      [brmasker]="{ mask: '00/00/0000 00:00', len: 15, type: 'num', userCaracters: false }"
    ></ion-input>
    <ion-buttons slot="end" class="item-buttons">
      <!-- <ion-button fill="clear" color="primary" shape="round" (click)="picker.open()">
        <ion-icon slot="icon-only" color="red" name="calendar"></ion-icon>
      </ion-button> -->
      
      <mat-datepicker-toggle matSuffix [for]="picker" color="primary"></mat-datepicker-toggle>
      <ion-button *ngIf="includeTime" fill="clear" shape="round" (click)="timesPopover($event)">
        <ion-icon slot="icon-only" color="primary" name="time"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <mat-datepicker color="primary" #picker (closed)="focus()" (opened)="focus()"></mat-datepicker>
    <input
      class="matinput"
      [min]="min"
      [max]="max"
      [matDatepicker]="picker"
      (dateChange)="dateEntered($event, 'picker')"
      size="0"
    />
  </ion-item>
  


  <ion-item *ngIf="(platform.is('ios') && includeTime)">
      <ion-label position="stacked">{{ label }}<ion-text color="danger"> *</ion-text></ion-label>
      <ion-datetime displayFormat= "DD/MM/YYYY HH:mm" [(ngModel)] = "DateIos" min="2015" (ionChange) = "focus()"  ></ion-datetime>
    </ion-item>
    
    <ion-item *ngIf="(platform.is('ios') && !includeTime)">
      <ion-label position="stacked">{{ label }}<ion-text color="danger"> *</ion-text></ion-label>
      <ion-datetime displayFormat= "DD/MM/YYYY " min="2017" max = "2021" ></ion-datetime>
    </ion-item> 